[submodule "src/rs_driver"]
	path = src/rs_driver
	url = https://github.com/RoboSense-LiDAR/rs_driver.git
[submodule "src/rslidar_msg"]
	path = src/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
[submodule "src/rslidar_sdk"]
	path = src/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
